html,
body {
    overflow: hidden;
    /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar-container {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

a.fc-daygrid-event {
    font-size: 1.5em;
}

#top {
    height: 100%;
    position: fixed;
    bottom: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

img#logo {
    height: 7%;
}

h1.guide {
    height: 7%;
}