#dealerFrame {
    width: 100%;
}

#dealerFrame>tbody>tr>td {
    vertical-align: top;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
}

td,
th {
    border-bottom: 1px solid black;
    /* padding: 10px; */
}

#dealerFrame td,
#dealerFrame td {
    border: 1px solid black;
}

img {
    height: 60%;
}